body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#navbar {
  color: black;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  background-color: rgb(71, 71, 71);
  width: 100%;
  top: 0;
  z-index: 1000;
}

#navbar li {
  border: 2px solid black;
  background-color: #bd261b;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  height: 25px;
}

#navbar li:first-child {
  order: -1;
  margin-right: auto;
  border: 0;
  background-color: rgb(71, 71, 71);
  color: white;
  font-size: 3rem;
}

#navbar li:hover {
  background-color: rgb(151, 151, 151);
}

#navbar li a {
  text-decoration: none;
  color: black;
}

#windows {
  width: 100%;
  height: 100%;
  padding: 0;
  display: block;
  margin: 0;
  padding-bottom: 100px;
}

#about-education-div{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

#about-div {
  width: 1150px;
  max-height: 1000px;
  background-color: #cccccc;
  height: auto;
  flex: 1;
  margin: 5px;

}

#about-div p {
  color: #333333;
  display: flex;
  padding-left: 5px;
}

#education-div{
  min-width: 1150px;
  background-color: #cccccc;
  height: 410px;
  margin-bottom: 150px;
  flex: 1;
  margin: 5px;

}

#me {
  max-width: 800px;
  height: 50%;
  position: relative;
  border: 5px double black;
  display: internal;
  bottom: 10px;
}

#work {
  padding-left: 35px;
}

.work-item{
  width: 600px;
  height: 600px;

}

.work-div {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  background-color: #c4645d;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  gap: 10px;
  margin: auto;
}

.work-div p {
  font-size: 30px;
}

.work-div div {
  justify-content: space-between;
  position: relative;
  display: block;
  align-items: center;
}

#cat {
  border: 4px black solid;
  border-radius: 2px;
  display: block;
  position: relative;
}

.cat p {
  margin: 0;
  width: fit-content;
}

.cat {
  height: 500px;
  width: 500px;
  background-image: url(Assets/500.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.work-div div {
  border: 4px black solid;
  border-radius: 2px;
  background-color: white;
}

.work-div p {
  text-align: start;
  display: inline-block;
  bottom: 10%;
  position: absolute;
  left: 0;
}

.work-div a {
  color: black;
  text-decoration: none;
  background-color: rgb(255, 78, 78);
  padding: 2px;
}

.find-me-food {
  width: 1609px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.password-generator {
  width: 599px;
  height: 370px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.coding-quiz-challenge {
  width: 598px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.work-day-scheduler {
  width: 600px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.picky-paws {
  width: 1023px;
  height: 630px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.readme-generator {
  max-width: 1188px;
  width: 100%;
  height: 498px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.svg-logo {
  width: 1027px;
  height: 627px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.note-taker {
  width: 596px;
  height: 540px;
}


.employee-tracker {
  width: 553px;
  height: 634px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.weather-dashboard {
  width: 1389px;
  height: 764px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.work-div div:hover {
  opacity: 85%;
}

#about-me #text {
  margin-left: 100px;
  font-size: 110%;
  max-width: 750px;
  max-height: 00px;
  margin-bottom: 50px;
}

h2 {
  font-size: 250%;
  text-align: start;
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

#contact-info {
  text-align: center;
  margin: auto;
}

.contactInfo {
  margin-top: 25px;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-size: 130%;
  color: black;
  list-style-type: none;
}

.contactInfo a {
  text-decoration: none;
  color: black;
  display: block;
}

ul li a:hover {
  background-color: rgba(45, 45, 45, 0.3);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1440px) {
  #about-div {
    max-width: 100%;
  }

  #about-me #text {
    margin-left: 5%;
    max-width: none;
    max-height: none;
  }

  #me {
    max-width: 500px;
  
  }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 600px) {
  #navbar {
    flex-direction: column;
  }

  #about-me #text {
    margin-left: 5%;
    max-width: none;
    max-height: none;
  }
}